* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: roboto;
    background-image: url(https://walrus-assets.s3.amazonaws.com/img/Space-735x490-1.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    text-align: center;
    padding: 30px;
    line-height: 30px;
    background: rgba(0, 0, 0, 0.5);
}

header a {
    color: #E6E6FA	;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
}

header a:not(:first-child) {
    margin-left: 30px;
}

header a:hover {
    color: #7B68EE;
    transition: color 300ms;
    text-decoration: underline;
}